@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Colors */
  --color-primary: #f231a5;
  --color-secondary: #3cd3c1;
  --color-mainBg: #06092b;
  --color-white: #fafafa;
  --color-black: #030517;
  --color-lightGray: #eaeaea;
  --color-gray: #8f8f8f;

  /* Dark Colors */
  --color-darkGray: #2e2f42;
  --color-primaryDark: #ca298a;
  --color-secondaryDark: #00a3a1;

  /* Transparent Colors */
  --color-transparentBlack: rgba(0, 0, 0, 0.7);
}

.theme-light {
  --color-mainBg: #707;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
