@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  /* #f231a5 */
  --color-primary: 242 49 165;
  /* #3cd3c1 */
  --color-secondary: 60 211 193;
  /* #ff5f5f */
  --color-tertiary: 255 95 95;
  /* #06092b */
  --color-mainBg: 6 9 43;
  /* #f2f2f2 */
  --color-lightBg: 242 242 242;
  /* #fafafa */
  --color-white: 250 250 250;
  /* #030517 */
  --color-black: 3 5 23;
  /* #eaeaea */
  --color-lightGray: 234 234 234;
  /* #8f8f8f */
  --color-gray: 143 143 143;

  /* Dark Colors */
  /* #2e2f42 */
  --color-darkGray: 46 47 66;
  /* #ca298a */
  --color-primaryDark: 202 41 138;
  /* #00a3a1 */
  --color-secondaryDark: 0 163 161;
  /* #d20000 */
  --color-tertiaryDark: 210 0 0;
}

body {
  box-sizing: border-box;
  background-color: rgb(var(--color-mainBg));
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

body::after,
body::before {
  box-sizing: inherit;
}
