@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: '#F231A5';
  --color-secondary: '#3CD3C1';
  --color-mainBg: '#06092B';
  --color-white: '#FAFAFA';
  --color-black: '#030517';
  --color-lightGray: '#EAEAEA';
  --color-gray: '#8F8F8F';
  --color-darkGray: '#2E2F42';
}

.theme-light {
  --color-mainBg: '#707';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
